img {
  height: 125px;
  width: 125px;
  text-align: center;
  transition: transform .5s;
  border: 3px rgb(78, 6, 6) solid;
}

img:hover {
  box-shadow: 5px 5px 8px rgba(244, 171, 18, 1);
  transform: scale(1.2) 
}

.container {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  width: 50%;
  margin: 0 auto;
  grid-row-gap: 4px;
  grid-column-gap: 4px;
}

.charpic {
  background-image: url("../Jumbo/wallpaper.jpeg");
}

