#center-nav {
  font-size: 35px;
  color: white;
}

#score-nav {
  font-size: 25px;
  color: orange;
  text-shadow: 1px 1px white;;
}

.navbar {
  font-family: 'Kaushan Script', cursive;
  background-color: rgba(5, 5, 5, 0.582) !important;
  color: white;
  
}